@layer components {
	.caContainer {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 140rem;
		margin: 0 auto;
		padding: 1rem;
		> * {
			position: relative;
			z-index: 2;
			flex-wrap: nowrap;
		}
	}
	.caContainer-col {
		flex-direction: column;
		> * {
			flex-grow: 1;
		}
	}
	.caContainer-row {
		flex-direction: row;
	}
}